<header class="navbar navbar-light navbar-fixed-top navbar-expand-lg">
  <a class="navbar-brand" href="#/"><img src="/assets/images/EandM-3.png"></a>
  <button aria-controls="navbarContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler navbar-toggler-right"
          type="button"
          ng-ini

          [attr.aria-expanded]="!isCollapsed"
          (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" pageScroll href="#schedule">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" pageScroll href="#cabins">Cabins</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" pageScroll href="#travel">Travel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" pageScroll href="#activities">Activities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" pageScroll href="#pack-list">What To Pack</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" pageScroll href="#registry">Registry</a>
      </li>
    </ul>
  </div>
</header>
<div class="row pd100">
  <div class="col-md-3 align-right">
    <img src="/assets/images/tree.png" class="tree">
  </div>
  <div class="col-md-6">
    <div id="banner" class="text-center">Welcome To Our Camp Wedding</div>
  </div>
  <div class="col-md-3">
    <img src="/assets/images/tree.png" class="tree">
  </div>
</div>

<section class="section parallax parallax-1">
  <div class="container">
    <h1>Erin <div id="heart">&#10084;</div> Mike</h1>
  </div>
</section>
<section class="section content">
  <div class="container">
    <h4 class="text-center">June 15th-17th 2018 // Fairlee, VT</h4>
    <hr class="fancy w40">
    <div class="row">
      <p class="h3">
        Erin and Mike are getting married and they would love for you to celebrate with them!
        Come join us for a weekend of love, laughs, and leisure at Camp Ohana in Fairlee, Vermont.
        The camp offers 112 acres of woods, open fields, and a beautiful waterfront on Lake Fairlee.
        Please use this website to register, reserve, and pay for you camp cabin or tent.
        You can also see the weekend schedule, a list of things to pack, directions to get to us, fun camp wide activities, and links to our wedding registry pages.
        We cannot wait to celebrate our special day with you!
      </p>
    </div>
  </div>
</section>
<section class="section parallax parallax-2">
  <div class="container">
  </div>
</section>
<section class="section content">
    <div class="container">
      <div class="title" id="schedule">Schedule</div>
      <hr class="fancy">
      <div class="heading mt25">Friday, June 15th</div>
      <div class="camp-icons">
          <img class="fire" src="/assets/images/mountains.png">
          <img class="fire" src="/assets/images/campfire.png">
          <img class="tent" src="/assets/images/tent-blue.png">
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <table class="table borderless">
            <tbody>
              <tr>
                <td class="border-right">2:00AM</td>
                <td class="align-right">Guests arrive at Camp Ohana</td>
              </tr>
              <tr class="borderless">
                <td class="border-right">2:00-5:00PM</td>
                <td class="align-right">Unpack and explore camp</td>
              </tr>
              <tr>
                <td class="border-right">6:30PM-8:00PM</td>
                <td class="align-right">Welcome Dinner</td>
              </tr>
              <tr>
                <td class="border-right">10:00PM</td>
                <td class="align-right">Late Night Campfire and Smores</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <hr class="fancy"> -->
      <div class="heading mt60">Saturday, June 16th</div>
      <div class="camp-icons">
          <img class="fire" src="/assets/images/swimmer-3.png">
          <img class="fire" src="/assets/images/rings-2.png">
          <img class="fire" src="/assets/images/dancing-2.jpg">
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <table class="table borderless">
            <tbody>
              <tr>
                <td class="border-right">8AM - 9:30AM</td>
                <td class="align-right">Breakfast at the Main Lodge</td>
              </tr>
              <tr class="borderless">
                <td class="border-right">9:30AM - 10AM</td>
                <td class="align-right">Pack Your Bagged Lunch</td>
              </tr>
              <tr>
                <td class="border-right">10AM - 2:00PM</td>
                <td class="align-right">Explore The Camp</td>
              </tr>
              <tr>
                <td class="border-right">4:00PM</td>
                <td class="align-right">Ceremony</td>
              </tr>
              <tr>
                <td class="border-right">4PM-5:30PM</td>
                <td class="align-right">Cocktail Hour</td>
              </tr>
              <tr>
                <td class="border-right">7PM-10PM</td>
                <td class="align-right">Dancing, Drinking and Debauchery</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="heading mt60">Sunday, June 17th</div>
      <div class="camp-icons">
          <img class="fire" src="/assets/images/sunrise.png">
          <img class="fire" src="/assets/images/breakfast-4.png">
          <img class="fire" src="/assets/images/happy-bye.png">
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <table class="table borderless">
            <tbody>
              <tr>
                <td class="border-right">8-9:30AM</td>
                <td class="align-right">Breakfast at the Main Lodge</td>
              </tr>
              <tr class="borderless">
                <td class="border-right">9:30AM - 11AM</td>
                <td class="align-right">Heartfelt Goodbyes</td>
              </tr>
              <tr>
                <td class="border-right">11:00AM</td>
                <td class="align-right">Checkout</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</section>

<section class="section parallax parallax-3">
  <div class="container">
  </div>
</section>
<section class="section content">
  <div class="container">
    <div class="title" id="cabins">Cabins</div>
    <div class="row text-center">
      <hr class="fancy">
      <div class="row">
        <div class="col-md text-center">
          <p class="h3">
            Ohana is a fully functional summer camp, in fact camp starts the day after we leave!
            All activities and events will take place on-site, and those staying at the camp will have everything within walking distance.
            There are a total of 20 cabins that can house 86 guests and 6 tents that hold another 24 more.
            Prices are broken down as the following:
          </p>
        </div>
      </div>
      <table class="cabins mb25">
        <thead>
          <tr class="brown-text">
            <th class="text-center">Cabin</th>
            <th class="text-center">Tent</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">$229/adult</td>
            <td class="text-center">$149 per adult</td>
          </tr>
          <tr>
            <td class="text-center">$149/child</td>
            <td class="text-center">N/A</td>
          </tr>
        </tbody>
      </table>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            See photos of Cabins
          </mat-expansion-panel-header>
          <div>
              <img src="/assets/images/cabin-5.jpg">
              <img src="/assets/images/cabin-1.jpg">
              <img src="/assets/images/cabin-2.jpg">
              <img src="/assets/images/cabin-4.jpg">
              <img src="/assets/images/cabin-3.jpg">
          </div>
          <mat-action-row>
      <!--     <button mat-raised-button (click)="close">CLOSE</button> -->
        </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            See photos of Tents
          </mat-expansion-panel-header>
          <div>
              <img src="/assets/images/tent-1.jpg">
              <img src="/assets/images/tent-2.jpg">
              <img src="/assets/images/tent-3.jpg">
              <img src="/assets/images/tent-4.jpg">
              <img src="/assets/images/tent-5.jpg">
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="row header mt60">
        <a class="register" href="https://alohafoundation.org/ohana/wedding-of-erin-williams-and-michael-labita/">
          Click Here To Register For Your Cabin Today!!!
        </a>
      </div>
    </div>
  </div><!--End Container-->
</section>

<section class="section parallax parallax-4">
  <div class="container">
  </div>
</section>

<section class="section content">
  <div class="container">
    <h3 class="text-center">Travel</h3>
    <hr class="fancy">
    <div class="row">
      <h5 class="col-md-12 brown-text text-center">From NJ and NYC - Est. 4h 30min (280 miles)</h5>
        <p class="col-md-12 directions mt25 mb60">
          Starting in NJ, take NJ-4E to I-95 N. Use the right two lanes to take Exit #1 C-D for Albany. Head North toward Albany.
          Merge onto I-87 N. On NY I-87 N, take Exit #4 toward Cross County Pkwy E.
          Merge onto Central Park Ave. Keep left at the fork, follow signs for Hutchinson Pkwy and merge onto Cross County Pkwy/New York State Reference Rte 907K.
          Merge onto Hutchinson River Pkway N. Keep right at fork on Hutchinson Pkwy N (Entering Connecticut).
          Continue onto CT-15 N. In 37.6 miles, keep left to stay on CT-15N.
          Take Exit #68 N-E to merge onto I-91 N toward CT-66 E/Hartford/Middletown (Entering Massachusetts).
          Stay on I-91N and follow signs for Interstate 91 Greenfield (Entering Vermont). Take Exit #14 for VT-113 toward US-5/Thetford.
          Follow VT 113 West and 5 Corners Rd to Quinbeck Rd.
        </p>
      </div>
      <div class="row">
        <h5 class="col-md-12 brown-text text-center">From Burlington, VT - 1hr 40 min (77 miles)</h5>
        <p class="col-md-12 directions mt25">
          Take I-89 S to VT-63 E in Berlin. Take Exit #6 for VT-63 toward VT-14/Barre/So Barre.
          Continue on VT-63 E. Turn right on Miller Rd Ext. Turn left onto W Rd. (Yes it's actually called "W" Rd, will turn into Falls Bridge)
          Continue onto Falls Bridge Rd.
          Turn right onto VT-14 S. Turn left onto Chelsea Rd.
          Slight left onto Chelsea Rd/Williamstown Rd. Turn right onto VT-110 S.
          Turn left onto VT-113 E. Turn left onto VT-244 E. Slight right onto Robinson Hill Rd.
          Turn left onto Quinbeck Rd. Destination will be on the left.
        </p>
    </div>
  </div>
</section>

<section class="section parallax parallax-5">
  <div class="container">
  </div>
</section>

<section class="section content">
  <div class="container">
      <h2 class="text-center" id="activities">Activities</h2>
      <hr class="fancy">
      <p class="h3 brown-text">
        Camp Ohana offers the following activites both outdoors and in their game room in the main lodge.
        All activities include necessary equipment:
      </p>
      <div class="row text-center">
        <div class="col-md">
            <ul class="list-group">
              <li class="list-group-item">9-hole Disc Golf</li>
              <li class="list-group-item">Badminton</li>
              <li class="list-group-item">Basketball</li>
              <li class="list-group-item">Bocce</li>
              <li class="list-group-item">Cornhole</li>
              <li class="list-group-item">Fooseball</li>
              <li class="list-group-item">Football</li>
              <li class="list-group-item">Horseshoes</li>
              <li class="list-group-item">Kickball</li>
            </ul>
        </div>
        <div class="col-md">
            <ul class="list-group">
              <li class="list-group-item">Ping Pong</li>
              <li class="list-group-item">Soccer</li>
              <li class="list-group-item">Shuffleboard Table</li>
              <li class="list-group-item">Swimming with Lifeguard on duty</li>
              <li class="list-group-item">Tennis</li>
              <li class="list-group-item">Tetherball</li>
              <li class="list-group-item">Volleyball</li>
              <li class="list-group-item">Walking trails</li>
              <li class="list-group-item">Whiffle Ball</li>
            </ul>
        </div>
      </div>
  </div>
</section>

<section class="section parallax parallax-6">
  <div class="container">
  </div>
</section>

<section class="section content">
  <div class="container">
    <div class="title" id="pack-list">What To Pack</div>
    <hr class="fancy">
    <div class="row">
      <div class="col-md text-center">
        <p class="packing">There is NO Wifi, bring board games or a good book!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md text-center">
        <p class="packing">Bathing suit, Flip flops, Bugspray, Sunscreen</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md text-center">
        <p class="packing">Sweatshirts and long pants for late night (VT gets cold!)</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md text-center">
        <p class="packing">Rehearsal dinner is casual dress code</p>
      </div>
    </div>
        <div class="row">
      <div class="col-md text-center">
        <p class="packing">Ceremony is Camp-Formal (Look as good as you'd like!)</p>
      </div>
    </div>
  </div>
</section>

<section class="section parallax parallax-7">
  <div class="container">
  </div>
</section>

<section class="section content">
  <div class="container">
    <div class="row">
      <div class="title" id="registry">Registry</div>
    </div>
    <hr class="fancy">
    <p class="h3 text-center">
    If you wish to buy a gift, we are registered at the following locations:
    </p>
    <div class="row">
      <div class="col-md-6 text-center">
        <a href="https://www.anthropologie.com/registry/listing?registryId=MWU1OTMXMGVI">
            <img src="/assets/images/anthropologie.jpg">
        </a>
      </div>
      <div class="col-md-6 text-center crate-barrel">
        <a href="https://www.crateandbarrel.com/gift-registry/sign-into-registry?returnUrl=https%3A%2F%2Fwww.crateandbarrel.com%2Fgift-registry%2Fregistrant-list%2F5811241">
            <img src="/assets/images/crate-barrel.jpg">
        </a>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
