<mat-toolbar id="nav">
  <mat-toolbar-row class="ohana-nav">
      <div id="logo">
      <img src="/assets/images/EandM-3.png">
  </div>
  <button mat-button [matMenuTriggerFor]="menu">
    <i class="material-icons" style="font-size: 50px">menu</i>
  </button>
      <mat-menu #menu="matMenu">
          <a class="nav" mat-menu-item pageScroll href="#schedule">Schedule</a>
          <a class="nav" mat-menu-item pageScroll href="#cabins">Cabins</a>
          <a class="nav" mat-menu-item pageScroll href="#travel">Travel</a>
          <a class="nav" mat-menu-item pageScroll href="#activities">Activities</a>
          <a class="nav" mat-menu-item pageScroll href="#pack-list">Pack List</a>
          <a class="nav" mat-menu-item pageScroll href="#registry">Registry</a>
          <a class="nav" mat-menu-item pageScroll href="#contact">Contact</a>
      </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div id="banner">
  <img src="/assets/images/tree.png" class="tree">
Welcome To Our Camp Wedding
<img src="/assets/images/tree.png" class="tree">
</div>
<section class="section parallax parallax-1">
  <div class="container">
    <h1>Erin <div id="heart">&#10084;</div> Mike</h1>
  </div>
</section>
<section class="section content">
  <div class="container">
    <div class="title">June 15th-17th 2018 // Fairlee, VT</div>
    <hr class="fancy w40">
    <div class="info">
      Erin and Mike are getting married and they would love for you to celebrate with them!
      Come join us for a weekend of love, laughs, and leisure at Camp Ohana in Fairlee, Vermont.
      The camp offers 112 acres of woods, open fields, and a beautiful waterfront on Lake Fairlee.
      Please use this website to register, reserve, and pay for you camp cabin or tent.
      You can also see the weekend schedule, a list of things to pack, directions to get to us, fun camp wide activities, and links to our wedding registry pages.
      We cannot wait to celebrate our special day with you!
    </div>
  </div>
</section>
<section class="section parallax parallax-2">
  <div class="container">
  </div>
</section>
<section class="section content">
    <div class="container">
      <div class="title" id="schedule">Schedule</div>
      <hr class="fancy">
      <div class="heading mt25">Friday, June 15th</div>
      <div class="camp-icons">
          <img class="fire" src="/assets/images/mountains.png">
          <img class="fire" src="/assets/images/campfire.png">
          <img class="fire" src="/assets/images/tent-blue.png">
      </div>
      <div class="info">
        <div class="form-control">2:00PM - Guests begin to arrive to Camp Ohana</div>
        <div class="form-control">2:00-5:00PM - Unpack and explore the camp</div>
        <div class="form-control">6:30-8:00PM - Welcome Dinner</div>
        <div class="form-control">8:00PM - Campfire, Smores, and late night Libations</div>
      </div>
      <!-- <hr class="fancy"> -->
      <div class="heading mt60">Saturday, June 16th</div>
      <div class="camp-icons">
          <img class="fire" src="/assets/images/swimmer-3.png">
          <img class="fire" src="/assets/images/rings-2.png">
          <img class="fire" src="/assets/images/dancing.jpg">
      </div>
      <div class="info">
        <div class="form-control">8:00AM-9:30AM - Breakfast at the Main Lodge</div>
        <div class="form-control">9:30-10:00AM - Pack your bagged lunch</div>
        <div class="form-control">10:00AM-2:00PM - Explore the camp</div>
        <div class="form-control">4:00PM - Ceremony</div>
        <div class="form-control">4:30PM-5:30PM - Cocktail Hour</div>
        <div class="form-control">5:30PM-7:00PM - Dinner</div>
        <div class="form-control">7:00PM-10:00PM - Dancing, Drinking, and Debauchery</div>
        <div class="form-control">10:00PM - Late Night Camp Fire</div>
      </div>
      <!-- <hr class="fancy"> -->
      <div class="heading mt60">Sunday, June 17th</div>
      <div class="camp-icons">
          <img class="fire" src="/assets/images/sunrise.png">
          <img class="fire" src="/assets/images/breakfast-4.png">
          <img class="fire" src="/assets/images/happy-bye.png">
      </div>
      <div class="info">
        <div class="form-control">8:00AM-9:30AM - Breakfast at the Main Lodge</div>
        <div class="form-control">9:30AM-11:00AM - Packing and Heartfelt Goodbyes</div>
        <div class="form-control">11:00AM - Checkout</div>
      </div>
  </div>

</section>

<section class="section parallax parallax-3">
  <div class="container">
  </div>
</section>
<section class="section content">
  <div class="container">
    <div class="title" id="cabins">Cabins</div>
    <div class="info">
      <hr class="fancy">
      <p class="form-control large">
      Ohana is a fully functional summer camp, in fact camp starts the day after we leave! All activities and events will take place on-site, and those staying at the camp will have everything within walking distance. There are a total of 20 cabins that can house 86 guests and 6 tents that hold another 24 more. Price are broken down as the following:
      </p>
      <table class="cabins mb25">
        <thead>
          <tr>
            <th>Cabin</th>
            <th>Tent</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>$229 per adult / $149 per child</td>
            <td>$149 per adult</td>
          </tr>
        </tbody>
      </table>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            See photos of Cabins
          </mat-expansion-panel-header>
          <div>
              <img src="/assets/images/cabin-5.jpg">
              <img src="/assets/images/cabin-1.jpg">
              <img src="/assets/images/cabin-2.jpg">
              <img src="/assets/images/cabin-4.jpg">
              <img src="/assets/images/cabin-3.jpg">
          </div>
          <mat-action-row>
      <!--     <button mat-raised-button (click)="close">CLOSE</button> -->
        </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            See photos of Tents
          </mat-expansion-panel-header>
          <div>
              <img src="/assets/images/tent-1.jpg">
              <img src="/assets/images/tent-2.jpg">
              <img src="/assets/images/tent-3.jpg">
              <img src="/assets/images/tent-4.jpg">
              <img src="/assets/images/tent-5.jpg">
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="header mt60">
        <a class="register" href="https://alohafoundation.org/ohana/wedding-of-erin-williams-and-michael-labita/">
          Click Here To Register For Your Cabin Today!!!
        </a>
      </div>
    </div>
  </div><!--End Container-->
</section>

<section class="section parallax parallax-4">
  <div class="container">
  </div>
</section>

<section class="section content">
  <div class="container">
    <div class="travel">
      <div class="title" id="travel">Travel</div>
      <hr class="fancy">
      <div class="heading travel">From NJ and NYC - Est. 4h 30min (280 miles)</div>
        <div class="directions mt25 mb60">
          Starting in NJ, take NJ-4E to I-95 N. Use the right two lanes to take Exit #1 C-D for Albany. Head North toward Albany.
          Merge onto I-87 N. On NY I-87 N, take Exit #4 toward Cross County Pkwy E.
          Merge onto Central Park Ave. Keep left at the fork, follow signs for Hutchinson Pkwy and merge onto Cross County Pkwy/New York State Reference Rte 907K.
          Merge onto Hutchinson River Pkway N. Keep right at fork on Hutchinson Pkwy N (Entering Connecticut).
          Continue onto CT-15 N. In 37.6 miles, keep left to stay on CT-15N.
          Take Exit #68 N-E to merge onto I-91 N toward CT-66 E/Hartford/Middletown (Entering Massachusetts).
          Stay on I-91N and follow signs for Interstate 91 Greenfield (Entering Vermont). Take Exit #14 for VT-113 toward US-5/Thetford.
          Follow VT 113 West and 5 Corners Rd to Quinbeck Rd.
        </div>
        <div class="heading travel">From Burlington, VT - 1hr 40 min (77 miles)</div>
        <div class="directions mt25">
          Take I-89 S to VT-63 E in Berlin. Take Exit #6 for VT-63 toward VT-14/Barre/So Barre.
          Continue on VT-63 E. Turn right on Miller Rd Ext. Turn left onto W Rd. (Yes it's actually called "W" Rd, will turn into Falls Bridge)
          Continue onto Falls Bridge Rd.
          Turn right onto VT-14 S. Turn left onto Chelsea Rd.
          Slight left onto Chelsea Rd/Williamstown Rd. Turn right onto VT-110 S.
          Turn left onto VT-113 E. Turn left onto VT-244 E. Slight right onto Robinson Hill Rd.
          Turn left onto Quinbeck Rd. Destination will be on the left.
        </div>
    </div>
  </div>
</section>

<section class="section parallax parallax-5">
  <div class="container">
  </div>
</section>

<section class="section content">
  <div class="container">
    <div class="col-4">
      <div class="title" id="activities">Activities</div>
      <hr class="fancy">
    </div>
      <div class="heading mb25">
        Camp Ohana offers the following activites both outdoors and in their game room in the main lodge.
        All activities include necessary equipment:
      </div>
      <mat-grid-list cols="4" rowHeight="1:1.5">
        <mat-grid-tile>&nbsp;</mat-grid-tile>
        <mat-grid-tile>
          <ul class="activities">
            <li>9-hole Disc Golf</li>
            <li>Badminton</li>
            <li>Basketball</li>
            <li>Bocce</li>
            <li>Cornhole</li>
            <li>Fooseball</li>
            <li>Football</li>
            <li>Horseshoes</li>
            <li>Kickball</li>
          </ul>
        </mat-grid-tile>
        <mat-grid-tile>
          <ul class="activities">
            <li>Ping Pong</li>
            <li>Soccer</li>
            <li>Shuffleboard Table</li>
            <li>Swimming with Lifeguard on duty</li>
            <li>Tennis</li>
            <li>Tetherball</li>
            <li>Volleyball</li>
            <li>Walking trails</li>
            <li>Whiffle Ball</li>
          </ul>
        </mat-grid-tile>
        <mat-grid-tile>&nbsp;</mat-grid-tile>
      </mat-grid-list>
  </div>
</section>

<section class="section parallax parallax-6">
  <div class="container">
  </div>
</section>

<section class="section content">
  <div class="container">
    <div class="title" id="pack-list">What To Pack</div>
      <hr class="fancy">
    <div class="info">
      <p class="form-control large">
        There is NO Wifi, bring board games or a good book!
      </p>
      <p class="form-control large">
        Bathing suit, Flip flops, Bugspray, Sunscreen
      </p>
      <p class="form-control large">
        Sweatshirts and long pants for late night (VT gets cold!)
      </p>
    </div>
  </div>
</section>

<section class="section parallax parallax-7">
  <div class="container">
  </div>
</section>

<section class="section content">
  <div class="container">
    <div class="travel">
      <div class="title" id="registry">Registry</div>
      <hr class="fancy">
    </div>
      <div class="heading registry">
      If you wish to buy a gift, we are registered at the following locations:
      </div>
      <div class="registry">
          <mat-grid-list cols="4" rowHeight="1:1">
          <mat-grid-tile>&nbsp;</mat-grid-tile>
          <mat-grid-tile>
              <a href="https://www.anthropologie.com/registry/listing?registryId=MWU1OTMXMGVI">
                  <img src="/assets/images/anthropologie.jpg" alt="">
              </a>
          </mat-grid-tile>
          <mat-grid-tile>
              <a href="https://www.crateandbarrel.com/gift-registry/sign-into-registry?returnUrl=https%3A%2F%2Fwww.crateandbarrel.com%2Fgift-registry%2Fregistrant-list%2F5811241">
                  <img src="/assets/images/crate-barrel.jpg" alt="">
              </a>
          </mat-grid-tile>
          <mat-grid-tile>&nbsp;</mat-grid-tile>
          </mat-grid-list>
      </div>
  </div>
</section>
<router-outlet></router-outlet>
